<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
   border: 1px solid black;
}
</style>
<body>
    <a href="{% url 'index' %}">início</a>
    <h1>FILMES</h1>
    <table>
        {% for Filme in filmes %}
        <tr>
            <td>{{ Filme.titulo }}</td>
            <td>{{ Filme.categoria }}</td>
            <td>{{ Filme.valor }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>